@page "/admin/members"
@using RazorWeb.Helpers
@model RazorWeb.Areas.Admin.Pages.User.IndexModel
@{
    ViewData["Title"] = "Danh sách các thành viên";
}

@{
    var pagingModel = new PagingModel()
        {
            currentPage = Model.currentPage,
            countPages = Model.countPages,
            generateUrl = (int? p) => @Url.Page("./Index", new { p = p })
        };
}

<h2>@ViewData["Title"]</h2>

<partial name="_StatusMessage" model="@Model.StatusMessage"></partial>

<p>Tổng số thành viên: @Model.totalUsers</p>

<table class="table">
    <tr>
        <th>Tên thành viên</th>
        <th>Vai trò (role)</th>
        <th>Tác vụ</th>
    </tr>

    @foreach (var user in Model.users)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                @if (string.IsNullOrEmpty(user.RoleNames))
                {
                    <a class="btn btn-primary" asp-page="./AddRole" asp-route-id="@user.Id" style="text-decoration: none">Thêm vai trò</a>
                }
                else
                {
                    <a asp-page="./AddRole" asp-route-id="@user.Id" style="text-decoration: none; font-weight: bold; color: #e76f51">@user.RoleNames</a>
                }
            </td>
            <td>
                <a class="btn btn-secondary" asp-page="./SetPassword" asp-route-id="@user.Id">Đặt mật khẩu</a>
            </td>
        </tr>
    }
</table>

@* multiple-select *@

<partial name="_PagingUltimate" model="@pagingModel" />